# Ignore rvm files
.ruby-version
.ruby-gemset

# Ignore geoip data file
data/geoip.dat
data/GeoLite2-ASN.mmdb
data/GeoLite2-City.mmdb
data/GeoLite2-Country.mmdb

/pkg/

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/

# Misc
**/.DS_Store
